@page "/access-denied"
<h3>Accessdenied</h3>

<div class="row">
    <div class="col-12">
        <div class="card">
            <div class="card-body flex-column">
                <div class="text-center">
                    <img src="/Img/access-denied_2.png" style="max-height:15rem" />
                </div>
                <div class="text-center mt-3">
                    <span class="text-danger fw-bold fs-5">Nincs hozzáférésed!</span>
                </div>
            </div>
        </div>
    </div>
</div>
